* {
    box-sizing: border-box;
    margin: 0; 
  }

  #carouselRow {
    width: 750px;
    height: 275px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: 350px;
}
#carouselRow2 {
    width: 750px;
    height: 275px;
    margin-right: 350px;
    margin-left: -100px;
}
#carouselRow3 {
    width: 750px;
    height: 275px;
    margin-right: 350px;
    margin-left: -100px;
}
#carouselRow4 {
    width: 750px;
    height: 275px;
    margin-right: auto;
    margin-left: 350px;
    margin-bottom: 50px;
}

#signupRow, #loginRow { 
color: black; 
position: relative;
bottom: 60px; 
background:white; 
left: -90px;
}

#addClothing { 
color: black; 
background:white; 
height: 175px;
bottom: 60px; 
position: relative;
}

#addClothing > form, input { 
margin:10px;

}
#addClothing > h2 { 
    margin:20px;

}
    


#picsContainer img{
    padding: 10px;
    width: 800px;
    height: 300px;
}
#video {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: -1;
    height: 100vh;
    background-color: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50));
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50));
    transform: translateX(-50%) translateY(-50%);
}



img {
    height: 200px;
    width: 200px;
}
#donateBtn > h2 { 
    background: transparent;
    border: transparent; 
    font-family: 'Reenie Beanie', cursive;
    font-size: 100px;
    color: ivory;
}

#wearBtn > h2 { 
    background: transparent;
    border: transparent; 
    font-family: 'Reenie Beanie', cursive;
    font-size: 100px;
    color: ivory;
}

#myBtn  {
    background: transparent;
    border: transparent; 
    font-family: 'Reenie Beanie', cursive;
    font-size: 100px;
    color: ivory;
}

.sidenav{ 
background-color: transparent
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v48/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}


@media screen and (min-width: 600px) {
    div.example {
        font-size: 80px;
    }

    @media (min-aspect-ratio: 16/9) {
        #video {
            width: 100%;
            height: auto;
        }
    }
}

@media (max-aspect-ratio: 16/9) {
    #video {
        width: auto;
        height: 100%;
    }
}

@media (max-width: 767px) {
    #videoBG {
        display: none;
    }

    body {
        background: url('../images/background.jpg');
        background-size: cover;
    }
}

@media screen and (max-width: 600px) {
    div.example {
        font-size: 30px;
    }

    /* Extra small devices (phones, 600px and down) */
    /* @media only screen and (max-width: 600px) {
        ...
    } */

    /* Small devices (portrait tablets and large phones, 600px and up) */
    /* @media only screen and (min-width: 600px) {
        ...
    } */

    /* Medium devices (landscape tablets, 768px and up) */
    /* @media only screen and (min-width: 768px) {
        ...
    } */

    /* Large devices (laptops/desktops, 992px and up) */
    /* @media only screen and (min-width: 992px) {
        ...
    } */

    /* Extra large devices (large laptops and desktops, 1200px and up) */
    /* @media only screen and (min-width: 1200px) {
        ...
    } */

}