* {
    box-sizing: border-box;
    margin: 0; 
  }
#video {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: -1;
    height: 100vh;
    background-color: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50));
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50));
    transform: translateX(-50%) translateY(-50%);
}

img {
    height: 200px;
    width: 300px;
}
#donateBtn > h2 { 
    background: transparent;
    border: transparent; 
    font-family: 'Tangerine', cursive;
    font-size: 50px;
    color: ivory;
}

#favoriteItem:hover { 
    color: pink; 
}
#wearBtn > h2 { 
    background: transparent;
    border: transparent; 
    font-family: 'Tangerine', cursive;
    color: ivory;
}

#myBtn  {
    background: transparent;
    border: transparent; 
    font-family: 'Tangerine', cursive;
    font-size: 100px;
    color: ivory;
}

.navbar-brand { 
    margin: 10px; 
}

.navbar { 
    border-radius: 10px; 
    box-shadow: 2px; 
    overflow: hidden;
}

#carouselRow, #carouselRow2, #carouselRow3, #carouselRow4, #carouselRow5, #carouselRow6 {
    width: 300px;
    height: 200px;
    float: left;
    position: relative;
    left: 30px; 
    bottom: -275px; 
}

#carouselRow, #carouselRow2, #carouselRow3, #carouselRow4, #carouselRow5, #carouselRow6 > .carousel {
margin: 30px;
}

#signupRow, #loginRow { 
color: black; 
position: relative;
bottom: 60px; 
background:white; 
left: -90px;
}

#addClothing { 
color: ivory !important;
text-align: center;
font-family:'Tangerine', cursive;
bottom: 400px; 
left: 50px;
}

#addClothing > form, input { 
margin:10px;
text-align: center"
}
#addClothing > h2 { 
margin:20px;

}
    
#picsContainer{
float: left; 
position: relative;
bottom: 600px;
left: 30px;
text-align: center;
min-width: 100%;
}

#picsContainer > .card{ 
margin: 10px; 
}

#picsContainer2{
    float: left; 
    position: relative;
    bottom: 525px;
    left: 30px;
    text-align: center;
    min-width: 100%;
}

#picsContainer2 > .carousel-item{
    margin: 10px; 

}
.card-image { 
width: 200px; 
}
.card-panel, .card-image, .card { 
border-radius: 15px;
overflow: hidden;
}

.btn {
border-radius: 5px;
overflow: hidden;
margin: 2px; 
width: 100px; 
text-align:center;
}
#uploadbtn { 
    left: 200px;
    position: relative;
}

#fileUpload { 
color: pink; 

}
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v48/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}


@media screen and (min-width: 600px) {
    div.example {
        font-size: 80px;
    }

    @media (min-aspect-ratio: 16/9) {
        #video {
            width: 100%;
            height: auto;
        }
    }
}

@media (max-aspect-ratio: 16/9) {
    #video {
        width: auto;
        height: 100%;
    }
}

@media (max-width: 767px) {
    #videoBG {
        display: none;
    }

    body {
        background: url('../images/background.jpg');
        background-size: cover;
    }
}

@media screen and (max-width: 600px) {
    div.example {
        font-size: 30px;
    }

    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 600px) {   
    }

    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) {   
    }

    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
    }

    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
    }

    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
    }

}